<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Steps</h1>

    <span>
        <%= render "/steps/status_filter" %>
    
        <% if @phase && policy(@phase.project).update? %>
            <%= link_to "New Step" , new_step_path("step[phase_id]": @phase.id, "step[project_id]": @phase.project_id),{class: "btn btn-primary" } if @phase %> 
        <% end %>
    </span>
</div>

<% if @phase %>
    <% step = Step.new(phase_id: @phase.id, company_id: @phase.company_id,
                    project_id: @phase.project_id, start_date: Time.zone.today, days: 10)%>

    <% if policy(step).create? %>
        <div class="quick_entry">
            <%= render "/steps/quick_entry", step: step %>
        </div>
    <% end %>

<% elsif current_user.has_cached_role?(:team_lead) %>
        <%= search_form_for @q, class: "form-inline" do |f| %>

            <%= f.label :name_cont %>
            <%= f.search_field :name_cont, class: "form-control", placeholder: "Name like" %>
        
            <%= f.label :start_date_lteq %>
            <%= f.date_field :start_date_lteq, class: "form-control", placeholder: "Start Date <" %>

            <%= f.label :completed %>
            <%= f.check_box :completed_eq, class: "form-control form-checkbox", placeholder: "Start Date <" %>

            <%= f.label :assigned_to, "Assigned To" %>
            <% 
                assigned = current_user.company.users.map{|u| [u.full_name, u.id]}  
            %>
            <%= f.select :assigned_to_id_eq, assigned, {include_blank: true}, 
                class: "form-control", placeholder: "Start Date <" %>

        <%= f.submit "Filter", {class: "btn btn-primary"}%>

        <% end %>
<% end %>


<% show_project_phase ||= params[:show_project_phase] %>
<div class="table-responsive">

    <table id="steps" class="table table-bordered dataTable jqDataTable">
        <thead>
            <tr>
                <th>
                    Seq
                </th>
                <% if show_project_phase == "Yes" %>
                <th>
                    Project
                </th>
                <th>
                    Phase
                </th>    
                <% end %>
                <th>
                    Step
                </th>
                <th>
                    Progress
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    End Date
                </th>
                <th>
                    Days
                </th>
                <th>
                    Status
                </th>
                <th>
                    Assigned
                </th>

                <th>
                    Docs
                </th>
                <% if @phase && policy(@phase.project).action? %>
                    <th>
                        Action
                    </th>
                <% end %>
            </tr>
        </thead>
        <tbody id="steps_tbody">
            <% steps.each do |step| %>
                <%= render step, show_project_phase: show_project_phase %>
            <% end %>
        </tbody>
    </table>

</div>