

<tr id="<%= dom_id daily_activity %>">
  <td>
    <%= daily_activity.user.full_name %>
  </td>
  <td>
    <%= daily_activity.title %>
  </td>
  <td>
    <% badge_color = daily_activity.status == "Completed" ? "badge-success" : "badge-warning" %>
    <span class="badge <%= badge_color %>">
      <%= daily_activity.status %>
    </span>
  </td>
  <td>
    <%= money_to_currency daily_activity.cost, params %>
  </td>
  <td>
    <%= l daily_activity.on_date if daily_activity.on_date  %>
  </td>
  <td>
    <%= link_to "Show" , daily_activity , {class: "btn btn-primary" }%>
  </td>
</tr>