<%= form_with(model: daily_activity) do |form| %>
  <% if daily_activity.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(daily_activity.errors.count, "error") %> prohibited this daily_activity from being saved:</h2>

      <ul>
        <% daily_activity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.text_field :user_id, class: "form-control", hidden: true  %>
    <%= form.text_field :project_id, class: "form-control", hidden: true  %>
    <%= form.text_field :step_id, class: "form-control", hidden: true  %>


  <div class="form-group">
    <%= form.label :status %>
    <%= form.select :status, ["Completed", "In Progress", "Not Started"], {}, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :cost %>
    <%= form.text_field :cost, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :details %>
    <%= form.text_area :details, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.submit "Save", {class: "btn btn-primary"}%>
  </div>
<% end %>
