<%= form_with(model: daily_activity) do |form| %>
  <% if daily_activity.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(daily_activity.errors.count, "error") %> prohibited this daily_activity from being saved:</h2>

      <ul>
        <% daily_activity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.text_field :project_id, class: "form-control", hidden: true  %>
    <%= form.text_field :step_id, class: "form-control", hidden: true  %>

  <% if current_user.company_id == daily_activity.company_id %>
    <div class="form-group">
      <%= form.label :user_id, "Assigned To" %>
      <%= form.select :user_id, daily_activity.company.clients.contractors.map{|c| [c.user.full_name, c.user_id]}, {}, class: "form-control"  %>
    </div>
  <% else %>
    <%= form.text_field :user_id, class: "form-control", hidden: true  %>    
  <% end %>
  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :on_date %>
    <%= form.date_field :on_date, class: "form-control"  %>
  </div>
  
  <div class="form-group">
    <%= form.label :status %>
    <%= form.select :status, ["Completed", "In Progress", "Not Started"], {}, class: "form-control"  %>
  </div>
  
  <% if daily_activity.step.unit_cost_cents > 0 %>
    <div class="form-group">
      <%= form.label :quantity, "Units Completed Today" %>
      <%= form.number_field :quantity, class: "form-control"  %>
      <small class="text-muted"> <%= daily_activity.step.units %> @ <%= money_to_currency daily_activity.step.unit_cost %> </small>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :details %>
    <%= form.text_area :details, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.submit "Save", {class: "btn btn-primary"}%>
  </div>
<% end %>
